* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Console', Monaco, monospace;
    background-color: #333;
}

.title {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    font-size: 2rem;
    font-weight: 500;

    & span{
        text-transform: uppercase;
    }
}

.cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container {
    max-width: 400px;
    width: 50%;
    margin: 8px 16px;
    border-radius: 15px;
    padding: 16px;

    color: white;
    text-decoration: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid var(--main-color);
    
    &:hover{
        background-color: var(--main-bg);
    }
}

.card-image {
    width: 75px;
}

.card-title {
    font-size: 1.75rem;

    & img{
        border-radius: 15px;
    }
}

.input-container{
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.input-container input{
    padding: 8px 24px;
    border-radius: 50px;
    width: 60%;
    font-size: 1.5rem;

    background-color: transparent;
    color: white;
    border: 3px solid;

    &:focus{
        outline: none;
    }
}